name: Testing dependency caching
on:
  push:
    paths:
      - .github/workflows/dependency-caching-test.yml
  workflow_dispatch:

jobs: 
  build: 
    runs-on: ubuntu-latest 
    
    defaults:
      run:
        working-directory: ./First_Project_GA

    steps: 
      - uses: actions/checkout@v4 
      - uses: actions/setup-node@v4 
        with: 
          node-version: 20 
  
      # Restore cache 
      - name: Cache npm dependencies 
        uses: actions/cache@v4 
        with: 
          path: ~/.npm 
          key: deps-node-modules-${{ hashFiles('**/package-lock.json') }} 
  
      - name: Install dependencies 
        run: npm install 
  
      - name: Run tests 
        run: npm test